In [4]:
for i, v in enumerate("ABC"):
    print ("{0}\t{1}".format(i, v))

0	A
1	B
2	C

In [9]:
my_str = "ABCD"
{i : v for i , v in enumerate(my_str)}

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [16]:
text = "Samsung Group is a South Korean multinational conglomerate headquartered in Samsung Town, Seoul."
{i : v.lower() for i, v in enumerate(text.split())}

{0: 'samsung',
 1: 'group',
 2: 'is',
 3: 'a',
 4: 'south',
 5: 'korean',
 6: 'multinational',
 7: 'conglomerate',
 8: 'headquartered',
 9: 'in',
 10: 'samsung',
 11: 'town,',
 12: 'seoul.'}

## Zip

In [22]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

[ [a,b] for a, b in zip(alist, blist)]
#     print(a, b)

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [27]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 86.66666666666667, 73.33333333333333]

## enumerate & zip

In [29]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

for i, values in enumerate(zip(alist,blist)):
    print(i , values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')